.posts h3{
    color: #7ddfff;
    margin: 5px ;
}
.postItems{
    margin-bottom: 5px;
}

.error{
    background-color: hotpink;
    color: white;
    padding: 3px;
    position: absolute;
    margin-left: 10px;

}