.item img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

.item{
    display: flex;
    margin-bottom: 5px;
    color: white;
}

.item div{
    text-align: center;
    margin-left: 5px;
}
