.profileWrapper{
    display: flex;
}

.about{
    margin-left: 10px;
}
.about p{
    color: white;
    margin: 0;
    font-size: 26px;
}

.profileImage img{
    height: 300px;
    width: 300px;
}

.posts h3{
    color: #7ddfff;
    margin: 5px ;
}
.postItems{
    margin-bottom: 5px;
}
.status{
    color: white;
}
.status input{
    background-color: #949494;
    border-radius: 5px;
    padding-left: 5px;
}
