.dialogs{
    display: flex;
    grid-template-columns: 2fr 10fr;
    align-items: flex-start;
}

.dialogItems{
    margin-right: 10px;
    padding: 10px 10px;
    background-color: #454545;
    border-radius: 5px;
}
.messagesItems{
    border-radius: 5px;
    background-color: #949494;
    overflow: auto;
    padding-right: 20px;
    height: 250px;
    margin-bottom: 10px;

}
.messages{
    padding: 10px;
    background-color: #454545;
    border-radius: 5px;
}

.sendText{
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.messages{
    text-align: right;

}
.sendText{

    text-align: right;

}
.sendText textarea{
    margin-right: 10px;

}